In [1]:
import pandas as pd
from urllib.request import urlopen
from bs4 import BeautifulSoup

# Initialzing dict with NBA data

years = {}
y = 1970

while y!=2020:
    url = "https://www.basketball-reference.com/leagues/NBA_" + str(y) + "_per_game.html"
    html = urlopen(url)
    soup = BeautifulSoup(html)
    headers = [th.getText() for th in soup.findAll('tr', limit=2)[1].findAll('th')]
    rows = soup.findAll('tr')[2:]
    rows_data = [[td.getText() for td in rows[i].findAll('td')]
                        for i in range(len(rows))]
    df = pd.DataFrame(rows_data)
    df['year'] = y
    years[y] = df
    y+=1

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,year
0,Kareem Abdul-Jabbar*,C,26,MIL,81,,43.8,11.7,21.7,.539,...,3.5,11.0,14.5,4.8,1.4,3.5,,2.9,27.0,1974
1,Don Adams,SF,26,DET,74,,31.1,4.1,10.0,.408,...,1.8,4.3,6.1,1.9,1.5,0.2,,3.3,10.3,1974
2,Rick Adelman*,PG,27,CHI,55,,11.2,1.2,3.1,.376,...,0.3,1.0,1.3,1.0,0.7,0.0,,1.1,3.3,1974
3,Lucius Allen,PG,26,MIL,72,,33.2,7.3,14.8,.495,...,1.2,2.8,4.0,5.2,1.9,0.3,,3.0,17.6,1974
4,Tiny Archibald*,PG,25,KCO,35,,36.3,6.3,14.1,.451,...,0.6,1.8,2.4,7.6,1.6,0.2,,2.2,17.6,1974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
250,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,1974
251,Luke Witte,C,23,CLE,57,,12.8,1.8,4.3,.432,...,1.4,2.6,4.0,0.7,0.1,0.4,,1.6,4.5,1974
252,Dave Wohl,PG,24,TOT,67,,15.7,1.8,4.1,.437,...,0.2,0.5,0.7,3.5,1.1,0.0,,2.0,4.7,1974
253,Dave Wohl,PG,24,BUF,41,,14.8,1.5,3.7,.400,...,0.2,0.5,0.7,3.1,0.8,0.0,,1.8,4.0,1974
254,Dave Wohl,PG,24,HOU,26,,17.3,2.3,4.9,.480,...,0.2,0.5,0.7,4.2,1.7,0.0,,2.5,6.0,1974

In [15]:
# Saving data into csv 

y = 1971
years_df = years[1970]
while y != 2020:
    years_df = pd.concat([years_df,years[y]],axis=0)
    y+=1
years_df.to_csv('NBA_1970-2019_Data.csv')